/* =========================
   BASIC RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background: #f7f2e8;
    color: #211b16;
    line-height: 1.6;
}

img {
    width: 100%;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font: inherit;
}

.container {
    width: min(90%, 1200px);
    margin: auto;
}


/* =========================
   COLOURS
========================= */

:root {

    --cream: #f7f2e8;
    --light-cream: #fffaf2;

    --brown: #211b16;
    --dark: #14120f;

    --gold: #a97624;
    --light-gold: #c79a52;

    --border: #ddd2bf;

}


/* =========================
   GENERAL TYPOGRAPHY
========================= */

h1,
h2,
h3,
.logo,
.footer-logo {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 2.3rem;
    line-height: 1.1;
}

h2 {
    font-size: 2rem;
    line-height: 1.15;
}

h1 span,
h2 span {
    color: var(--gold);
}

.eyebrow {
    font-size: .75rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--gold);
    margin-bottom: 12px;
}

.section {
    padding: 70px 0;
}

.section-text {
    max-width: 650px;
    margin-top: 20px;
    color: #61584e;
}


/* =========================
   TOP BAR
========================= */

.top-bar {
    background: var(--dark);
    color: #d6ad69;
    text-align: center;
    font-size: .75rem;
    padding: 9px 15px;
}


/* =========================
   NAVBAR
========================= */

.header {
    background: rgb(255, 250, 242);
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid var(--border);
}

.navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo img {
    width: 14rem;
}


.menu-btn {
    border: 0;
    background: none;
    font-size: 1.7rem;
    cursor: pointer;
}

.nav-links {
    position: absolute;

    top: 70px;
    left: 0;

    width: 100%;

    background: var(--light-cream);

    display: none;
    flex-direction: column;

    padding: 20px;

    border: 1px solid var(--border);

    box-shadow: 0 15px 30px rgba(0, 0, 0, .08);
}

.nav-links.show {
    display: flex;
}

.nav-links a {
    padding: 12px 5px;
}

.nav-links a:hover {
    color: var(--gold);
}


/* =========================
   HERO
========================= */

.hero {
    min-height: 650px;

    background:
        linear-gradient(rgba(30, 20, 10, .35),
            rgba(30, 20, 10, .35)),
        url("images/hero4.PNG");

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    align-items: center;
}

.hero-content {
    display: flex;
    align-items: center;
}

.hero-text {
    width: 100%;

    background: rgba(255, 250, 242, .5);

    padding: 30px 24px;

    border-radius: 14px;

    backdrop-filter: blur(6px);
}

.hero-description {
    margin: 20px 0;
    max-width: 520px;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


/* =========================
   BUTTONS
========================= */

.btn {
    display: inline-flex;

    justify-content: center;
    align-items: center;

    padding: 13px 22px;

    border-radius: 5px;

    border: 1px solid var(--gold);

    cursor: pointer;

    text-transform: uppercase;

    font-size: .75rem;
    font-weight: bold;

    letter-spacing: .5px;

    transition: .3s;
}

.btn-gold {
    background: var(--gold);
    color: white;
}

.btn-gold:hover {
    background: #8c611d;
}

.btn-outline {
    color: var(--brown);
    background: transparent;
}

.btn-outline:hover {
    background: var(--gold);
    color: white;
}

.small-btn {
    padding: 10px 13px;
    background: transparent;
    color: var(--gold);
}


/* =========================
   FEATURES
========================= */

.features {
    background: var(--light-cream);
    border-bottom: 1px solid var(--border);
}

.feature-grid {
    display: grid;
}

.feature {
    display: flex;
    align-items: center;

    gap: 15px;

    padding: 22px 0;

    border-bottom: 1px solid var(--border);
}

.feature:last-child {
    border-bottom: 0;
}

.feature-icon {
    width: 52px;
    height: 52px;

    flex-shrink: 0;

    border: 1px solid var(--gold);
    border-radius: 50%;

    display: grid;
    place-items: center;

    color: var(--gold);

    font-size: 1.3rem;
}

.feature h3 {
    font-size: 1rem;
}

.feature p {
    font-size: .82rem;
    color: #665d53;
}


/* =========================
   ABOUT
========================= */

.about {
    text-align: center;
}

.about .section-text {
    margin-inline: auto;
}


/* =========================
   PRODUCTS
========================= */

.products {
    background: #fffaf3;
}

.section-heading {
    margin-bottom: 30px;
}

.product-grid {
    display: grid;
    gap: 25px;
}

.product-card {
    background: white;

    border: 1px solid var(--border);

    border-radius: 15px;

    overflow: hidden;

    transition: .3s;
}

.product-card:hover {
    transform: translateY(-5px);

    box-shadow:
        0 15px 30px rgba(0, 0, 0, .08);
}

.product-image {
    height: 280px;
    position: relative;

    overflow: hidden;
}

.product-image img {
    height: 100%;
    object-fit: cover;
}

.size-badge {
    position: absolute;
    top: 15px;
    right: 15px;

    background: var(--gold);
    color: white;

    padding: 5px 12px;

    border-radius: 30px;

    font-size: .75rem;
}

.product-info {
    padding: 22px;
}

.product-info h3 {
    font-size: 1.35rem;
    margin-bottom: 15px;
}

.product-info ul {
    list-style: none;
    margin-bottom: 25px;
}

.product-info li {
    font-size: .85rem;
    margin-bottom: 7px;
}

.product-info li::before {
    content: "♔";
    color: var(--gold);
    margin-right: 8px;
}

.product-bottom {
    display: flex;

    justify-content: space-between;
    align-items: center;

    gap: 10px;
}

.product-bottom strong {
    font-size: 1.2rem;
    color: var(--gold);
}


/* =========================
   SCENTS
========================= */

.scent-section {
    background:
        linear-gradient(135deg,
            #171511,
            #2f291f);

    color: white;
}

.scent-intro {
    margin-bottom: 30px;
}

.scent-grid {
    display: grid;
    gap: 20px;
}

.scent-card {
    border: 1px solid #70562b;
    border-radius: 12px;

    overflow: hidden;

    background: rgba(255, 255, 255, .03);
}

.scent-card img {
    height: 200px;
    object-fit: cover;
}

.scent-content {
    padding: 20px;
}

.scent-content h3 {
    margin-bottom: 8px;
}

.scent-content p {
    color: #d8d2c9;
    font-size: .87rem;
}


/* =========================
   HOW TO USE
========================= */

.how-use {
    background: var(--cream);
}

.steps-grid {
    display: grid;
    gap: 20px;

    margin-top: 30px;
}

.step-card {
    background: white;

    padding: 30px;

    border-radius: 12px;

    border: 1px solid var(--border);
}

.step-card span {
    display: inline-grid;
    place-items: center;

    width: 45px;
    height: 45px;

    background: var(--gold);
    color: white;

    border-radius: 50%;

    margin-bottom: 18px;
}

.step-card h3 {
    margin-bottom: 8px;
}


/* =========================
   PROMOTION
========================= */

.promotion {
    padding: 50px 0;

    background:
        linear-gradient(135deg,
            #efe4d2,
            #fffaf2);
}

.promo-content {
    display: grid;
    gap: 30px;
}

.promo-content h2 {
    margin-bottom: 15px;
}

.discount-list {
    display: grid;
    gap: 10px;
}

.discount-list div {
    display: grid;

    grid-template-columns:
        1fr auto auto;

    align-items: center;

    gap: 14px;

    padding: 12px;

    border-bottom: 1px solid #d5c7b1;
}

.discount-list strong {
    color: var(--gold);
}


/* =========================
   ORDER
========================= */

.order-section {
    background: var(--dark);
    color: white;
    text-align: center;
}

.order-grid {
    display: grid;
    gap: 25px;

    margin: 40px 0;
}

.order-step span {
    width: 55px;
    height: 55px;

    display: grid;
    place-items: center;

    margin: 0 auto 15px;

    border-radius: 50%;

    background: var(--gold);

    font-weight: bold;
}

.order-step p {
    color: #c7c1ba;
    font-size: .85rem;
}

.whatsapp-btn {
    width: 100%;
}


/* =========================
   FOOTER
========================= */

.footer {
    padding-top: 60px;

    background: #0d0c0a;

    color: #ddd6ca;
}

.footer-grid {
    display: grid;
    gap: 40px;
}

.footer-logo {
    display: inline-block;

    color: white;

    font-size: 1.7rem;

    margin-bottom: 15px;
}

.footer h3 {
    color: var(--light-gold);
    margin-bottom: 12px;
}

.footer p,
.footer a {
    display: block;

    font-size: .85rem;

    margin-bottom: 8px;
}

.footer a:hover {
    color: var(--gold);
}

.copyright {
    margin-top: 50px;

    border-top: 1px solid #332f29;

    text-align: center;

    padding: 20px;
}


/* =========================
   MODAL
========================= */

.modal {
    position: fixed;

    inset: 0;

    background: rgba(0, 0, 0, .7);

    display: none;

    align-items: center;
    justify-content: center;

    padding: 20px;

    z-index: 999;
}

.modal.show {
    display: flex;
}

.modal-box {
    width: 100%;
    max-width: 450px;

    background: var(--light-cream);

    border-radius: 15px;

    padding: 30px;

    position: relative;
}

.close-modal {
    position: absolute;
    right: 20px;
    top: 15px;

    border: 0;
    background: none;

    font-size: 2rem;

    cursor: pointer;
}

.scent-options {
    display: grid;
    gap: 12px;

    margin-top: 25px;
}

.scent-option {
    padding: 15px;

    background: white;

    border: 1px solid var(--border);

    cursor: pointer;

    border-radius: 6px;
}

.scent-option:hover {
    background: var(--gold);
    color: white;
}


/* ==================================
   TABLET
   700PX AND ABOVE
================================== */

@media (min-width: 700px) {

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.6rem;
    }


    /* HERO */

    .hero-text {
        width: 65%;
        padding: 30px;
    }

    .hero-buttons {
        flex-direction: row;
    }


    /* FEATURES */

    .feature-grid {
        grid-template-columns:
            repeat(2, 1fr);
    }

    .feature {
        padding: 25px;
    }


    /* PRODUCTS */

    .product-grid {
        grid-template-columns:
            repeat(2, 1fr);
    }


    /* SCENTS */

    .scent-grid {
        grid-template-columns:
            repeat(2, 1fr);
    }


    /* STEPS */

    .steps-grid {
        grid-template-columns:
            repeat(3, 1fr);
    }


    /* ORDER */

    .order-grid {
        grid-template-columns:
            repeat(2, 1fr);
    }

    .whatsapp-btn {
        width: auto;
    }


    /* FOOTER */

    .footer-grid {
        grid-template-columns:
            repeat(2, 1fr);
    }

}


/* ==================================
   DESKTOP
   1000PX AND ABOVE
================================== */

@media (min-width: 1000px) {

    .section {
        padding: 100px 0;
    }


    /* NAV */

    .menu-btn {
        display: none;
    }

    .nav-links {
        position: static;

        width: auto;

        display: flex;

        flex-direction: row;

        gap: 28px;

        padding: 0;

        border: 0;
        box-shadow: none;

        background: transparent;
    }


    /* HERO */

    .hero {
        min-height: 650px;
    }

    .hero-text {
        width: 54%;
    }


    /* FEATURES */

    .features {
        transform: translateY(-25px);

        width: min(92%, 1200px);
        margin: auto;

        border-radius: 18px;

        box-shadow:
            0 15px 40px rgba(0, 0, 0, .08);
    }

    .feature-grid {
        grid-template-columns:
            repeat(4, 1fr);
    }

    .feature {
        border-bottom: 0;
        border-right: 1px solid var(--border);
    }

    .feature:last-child {
        border-right: 0;
    }


    /* PRODUCTS */

    .product-grid {
        grid-template-columns:
            repeat(3, 1fr);
    }


    /* SCENTS */

    .scent-grid {
        grid-template-columns:
            repeat(3, 1fr);
    }


    /* PROMOTION */

    .promo-content {
        grid-template-columns:
            1fr 1fr;

        align-items: center;
    }


    /* ORDER */

    .order-grid {
        grid-template-columns:
            repeat(4, 1fr);
    }


    /* FOOTER */

    .footer-grid {
        grid-template-columns:
            1.5fr 1fr 1fr 1fr;
    }

}